.modal_visiable {
  display: flex;
}

.arrow-up {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-image: url(../images/up-chevron.svg);
}

.arrow-down {
  margin-left: 5px;
  width: 10px;
  height: 10px;
  background-image: url(../images/down-arrow.svg);
}

.table__item {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
}