<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Product Admin</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/list.css" rel="stylesheet">
    <script src="static/js/angular.js"></script>
    <script src="static/js/Api.js"></script>
    <script src="static/js/app.js"></script>
</head>

<body ng-controller="HomeCtrl as HomeCtrl">
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                        <button type="submit" class="btn btn-primary mb-2" ng-click="HomeCtrl.showAddPopUp()">Add</button>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Product Admin</h3>
        </div>

        <nav class="navbar navbar-light bg-light justify-content-between">
            <div class="btn-group">
              </div>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>

        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div class="panel panel-default">
                <div class="panel-heading">Product list</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                                <th ng-click="HomeCtrl.sort(field)" ng-repeat="field in HomeCtrl.fieldNames">{{ '{{field}}' }}
                                    <div ng-show="HomeCtrl.sortOption.sortFieldName === field && HomeCtrl.sortOption.isAsc" class="arrow-up"></div>
                                    <div ng-show="HomeCtrl.sortOption.sortFieldName === field && !HomeCtrl.sortOption.isAsc" class="arrow-down"></div>
                                </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in HomeCtrl.products track by $index">
                            <th scope="row">{{'{{$index+1}}'}}</th>
                            <td>{{ '{{product.product}}' }}</td>
                            <td>{{ '{{product.price}}' }}$</td>
                            <td> {{'{{product.description}}'}}</td>
                            <td>{{'{{product.count}}'}}</td>
                            <td><span ng-click="HomeCtrl.showEditPopUp(product.id)" style="cursor:pointer;" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></td>
                            <td><span ng-click="HomeCtrl.showConfirmPopUp(product.id, product.product)" style="cursor:pointer;color:#e43309;" 
                                    class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal modal_add-popup" id="addPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="HomeCtrl.closeAddPopup()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Add product info</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Product name:</label>
                          <input type="text" ng-model="HomeCtrl.productName" class="form-control" id="recipient-name" minlength="2" maxlength="30" required>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Price:</label>
                          <input type="number" ng-model="HomeCtrl.price" class="form-control" id="recipient-name" minlength="1" maxlength="30" required>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Description:</label>
                          <input type="text" ng-model="HomeCtrl.description" class="form-control" id="recipient-name" minlength="2" maxlength="30" required>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Count:</label>
                          <input type="number" minlength="1" maxlength="10" ng-model="HomeCtrl.count" class="form-control" id="recipient-name" required>
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="HomeCtrl.closeAddPopup()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-show="HomeCtrl.showAdd" id="btnAdd" ng-click="HomeCtrl.addProduct()" type="button"
                        class="btn btn-primary">Add product</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal modal_edit-popup" id="editPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="HomeCtrl.closeEditPopUp()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Update product info</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Product name:</label>
                          <input type="text" ng-model="HomeCtrl.productName" class="form-control" id="recipient-name" minlength="2" maxlength="30" required>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Price:</label>
                          <input type="number" ng-model="HomeCtrl.price" class="form-control" id="recipient-name" minlength="1" maxlength="30" required>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Description:</label>
                          <input type="text" ng-model="HomeCtrl.description" class="form-control" id="recipient-name" minlength="2" maxlength="30" required>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Count:</label>
                          <input type="number" minlength="1" maxlength="10" ng-model="HomeCtrl.count" class="form-control" id="recipient-name" required>
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="HomeCtrl.closeEditPopUp()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-show="HomeCtrl.showAdd" id="btnAdd" ng-click="HomeCtrl.updateProduct()" type="button"
                        class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal_confirm-popup" id="confirmPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="HomeCtrl.closeConfirmPopUp()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">{{ '{{HomeCtrl.productName}}' }}</h4>
                </div>
                <div class="modal-footer">
                    <button ng-click="HomeCtrl.closeConfirmPopUp()" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button ng-show="HomeCtrl.showAdd" id="btnAdd" ng-click="HomeCtrl.deleteProduct()" type="button"
                        class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>


 
    <script src="static/js/lib/jquery.min.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>

</body>

</html>
